{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Cafetería</title>
</head>
<body>
    <div id="id1"></div>
    <header>
        <div class="principal">
            <p class="encabezado">Cafetería</p>
            <nav class="principal-n">
            <a href="{% url 'inicio' %}">Inicio</a>
            <a href="{% url 'productos' %}">Menú</a>
            <a href="{% url 'eventos' %}">Evento</a>
            <a href="{% url 'sucursales' %}">Sucursales</a>
            </nav>
        </div>
    </header>

    <section class="inicio">
        <div class="inicio2">
            <h1>Cafetería</h1>
            <p>¡Estamos a tus ordenes!</p>
            <a href= "#id2"><button>Inicio</button></a>
        </div>
    </section>

    <section id="id2" class="bienvenida">
        <div class="bienvenida2">
            <h2>¡Bienvenidos!</h2>
            <p>¡Hola, queremos darte la bienvenida al sitio web de nuestra cafetería! 
                Aquí podras encontrar todos nuestros productos y algunos otros servicios para brindarte, estamos a tus ordenes.</p>
                <a href= "#id3"><button>Ir a la siguiente sección</button></a>
            </div>
            <img src="{% static 'img/img2.jpg' %}" alt="imagén de cafe">
    </section>

    <section id="id3" class="sec_info">
        <h2>¿Qué puedo encontrar en cafetería?</h2>

        <div class="informacion">
            <div class="inf1">
                <img src="{% static 'img/img3.jpg' %}" alt="">
                <h3>Eventos</h3>
                <p>En cafetería 52 puedes encontrar diferentes tipos de eventos cada mes, incluso puedes realizar alguna reunion o cena familiar.</p>
            </div>
        
            <div class="inf2">
                <img src="{% static 'img/img4.jpg' %]" alt="">
                <h3>Productos</h3>
                <p>Puedes saborearte con los distintos postres y bebidas que tenemos, frappes, pasteles, entre otros productos más. </p>
            </div>
        
            <div class="inf3">
                <img src="{% static 'img/img5.jpg' %}" alt="">
                <h3>Sucursales</h3>
                <p>Puedes verificar todas las  sucursales con las que contamos actualmente, cualquier petición estamos a tus ordenes.</p>
            </div>
        </div>
        
        <a href= "#id1"><button>Volver al inicio</button></a>
    </section>

    <footer>
        <p>Cafetería</p>
        <p>Atención al cliente | Comentarios</p>
    </footer>

</body>
</html>