{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafetería Website52</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <header>
        <h1>Cafetería Website52</h1>
        <nav>
            <a href="{% url 'inicio' %}">Inicio</a>
            <a href="{% url 'productos' %}">Menú</a>
            <a href="{% url 'eventos' %}">Evento</a>
            <a href="{% url 'sucursales' %}">Sucursales</a>
        </nav>
    </header>

    <section class="presentacion">
        <h2>Bienvenido a Cafetería Website52</h2>
        <p>El aroma que despierta tus mejores momentos para programar☕</p>
        <a href="{% url 'productos' %}">
            <button class="btn">Ver Menú Completo</button>
        </a>
    </section>

    <section class="productos-section">
        <h2>Productos Destacados</h2>
        <div class="productos-grid">
            {% for producto in productos %}
                <div class="producto">
                    {% if "espresso" in producto.nombre|lower %}
                        <img src="{% static 'img/sabrina.png' %}" alt="Espresso">
                    {% elif "latte" in producto.nombre|lower %}
                        <img src="{% static 'img/latteVainilla.png' %}" alt="Latte Vainilla">
                    {% elif "capuchino" in producto.nombre|lower %}
                        <img src="{% static 'img/capuchino.png' %}" alt="Capuchino">
                    {% elif "mocha chocolate" in producto.nombre|lower%}
                        <img src="{% static 'img/chocomocha.png' %}" alt="Mocha Chocolate">
                    {% else %}
                        <img src="{% static 'img/default_cafe.jpg' %}" alt="{{ producto.nombre }}">
                    {% endif %}
                    <h3>{{ producto.nombre }}</h3>
                    <p>${{ producto.precio }}</p>
                </div>
            {% endfor %}
        </div>
    </section>

    <footer>
        <p>© 2025 Cafetería Website52 — Todos los derechos reservados. Te extraño website52 ❤️</p>
    </footer>
</body>
</html>
